/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/* NORMALIZACIÓN */
/* *:es un selector universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */

:root {
  /* colores */
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
  --negro: #000000;
  --blanco: #ffffff;
  /* tamaños de fuentes */
  --text-sm: 1.2em;
  --text-md: 1.6em;
  --text-lg: 1.8em;
  --title-md: 2.4em;
  /* familias de fuentes */
  --roboto: "Roboto", sans-serif;
}

/* ESTILOS COMUNES */

/* font-size: 
1rem = 16px;
1em = 16px;
Se define en 62.5% para realizar conversiones mas repidas
1rem = 10px;
1em = 10px;
*/
html {
  font-size: 62.5%;
  font-family: var(--roboto);
}

body {
  background-color: var(--gris-claro);
}

h2 {
  font-size: var(--title-md);
}

p {
  font-size: var(--text-sm);
}

.flex-row {
  display: flex;
  gap: 20px;
  align-items: stretch;
  flex-wrap: wrap;
}
/* HEADER */

header {
  background-color: var(--amarillo);
}

div div.header-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10% 10% 0px 10%;
}

header picture.logo {
  display: block; /* Para que tenga el comportamiento de div y poder darle width */
  width: 50%;
}

.form {
  width: 50%;
  height: 37.44px;
  display: flex;
}

header nav {
  font-size: var(--text-sm);
}

header ul li {
  list-style-type: none; /* Para quitar la viñeta */
}

header ul li a {
  text-decoration: none;
  color: var(--negro);
}

header .form .input {
  font-size: var(--text-sm);
  color: var(--gris-oscuro);
  overflow: hidden;
  white-space: nowrap;
  background: var(--blanco);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 11px 5px 0px 5px;
  margin: 0px 0px 0px 10%;
}

header .form .submit {
  display: flex;
  align-items: center;
  font-size: var(--text-md);
  color: var(--gris-oscuro);
  background: var(--blanco);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 3px;
}

header div.top-header p {
  text-align: center;
  margin: 5% 0px 0px 0px;
}

header nav {
  display: none;
}

div.burger-menu {
  text-align: center;
}

div.burger-menu i {
  background: #0044aa;
  font-size: 20px;
  color: var(--blanco);
  height: 40px;
  width: 40px;
  margin: 10px 0 20px 0;
  padding: 10px;
  border-radius: 5px;
}

/* BANNER */

section.banner img {
  width: 100%;
}

/* MAIN */

main {
  width: 90%;
  margin: 0 auto;
}

main section article {
  background-color: var(--blanco);
  margin: 10px 0px;
}

main section article:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article img {
  width: 100%;
}

h2,
.description {
  color: var(--gris-oscuro);
}

.price {
  font-size: var(--text-lg);
  /*width: 30%;*/
}

.discount,
.description {
  font-size: var(--text-md);
}

.description {
  opacity: 0;
  transition: opacity 0.5s linear;
}

main section article:hover .description {
  opacity: 1;
}

main section article i,
.discount {
  color: var(--verde);
}

/*
.discount {
  width: 70%;
}*/

main section article i {
  font-size: var(--text-md);
  border: 1px solid var(--verde);
  border-radius: 50%;
  display: block;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: transform 0.3s ease-in;
}

main section article:hover i {
  transform: rotate(-90deg);
}

main section h3 {
  margin: 20px 0px;
}

article div.product-card {
  width: 100%;
  border: 1px solid var(--gris-claro);
  padding: 15px;
  position: relative;
}

/* LOGIN */

.login h3 {
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-size: var(--title-md);
  font-weight: 500;
}

.login form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.login form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 2% auto;
  width: 70%;
}

.login form input[type="text"] {
  color: var(--gris-oscuro);
}

.login .btn {
  background-color: var(--celeste);
  color: var(--blanco);
  width: 50%;
  transition: background 0.5s ease;
}

.login .btn:hover {
  background-color: var(--azul-claro);
}
/* REGISTER */

.register {
  margin-top: 2%;
  margin-bottom: 2%;
}

.register h3 {
  font-size: var(--title-md);
  font-weight: 500;
  padding: 1%;
  text-align: center;
}

.register form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.register form h4 {
  margin-top: 3%;
  font-size: var(--text-md);
  font-weight: 500;
}

.register form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 2%;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.labelTitle {
  font-size: var(--text-md);
  font-weight: 500;
  margin-top: 3%;
}

.userType {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.3em;
  gap: 2em;
}

.userType input {
  margin: 1em;
}

.intereses {
  display: flex;
  flex-direction: column;
  margin: 0.3em;
}

.intereses input {
  margin: 1em;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
}

/* FOOTER */

footer {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

footer div {
  color: var(--celeste);
  font-size: 20px;
  margin: 0px 0 10px 0;
}

footer h3 {
  color: var(--negro);
  font-family: var(--roboto);
  font-size: var(--text-md);
}

footer p {
  color: var(--negro);
  font-family: var(--roboto);
  font-size: var(--text-sm);
}

footer #copyright {
  text-align: left;
  margin: 30px 0 20px 0;
}

/* RESPONSIVE */

@media screen and (min-width: 361px) {
  div.top-header {
    display: flex;
    padding: 3%;
    align-items: center;
    justify-content: center;
  }

  div div.header-up {
    width: 66%;
    padding: 0;
    align-items: center;
  }

  div div div.form {
    height: 27.95px;
  }

  header div.top-header p {
    width: 33%;
    margin: 0px;
    height: 27.88px;
    overflow: hidden;
    padding: 1.5%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  header .form .input {
    width: 90%;
    background-color: var(--blanco);
    border: 1px solid var(--negro);
    color: var(--gris-oscuro);
    padding: 5px;
    margin-right: 2%;
  }

  header .form .submit {
    background: var(--blanco);
    border: 1px solid var(--negro);
  }

  .burger-menu {
    display: none;
  }

  header nav {
    display: flex;
    padding-bottom: 2%;
  }

  nav ul {
    display: flex;
    width: 50%;
    gap: 5%;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
  }

  .description {
    display: block;
  }
  .products-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .products-container article {
    max-width: 45%;
  }

  /*main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }*/
}

@media screen and (min-width: 769px) {
  .products-container article {
    max-width: 22%;
  }
}
